.homepage {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  width: 875px;
  height: 508px;
  padding: 15px;
  border-radius: 5px;

  background-color: #0053f6;
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: #f5c34b;

  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #041e42;
}

.header_frame .header_content span {
  width: 428px;
  margin-top: 10px;

  color: #fff;
  font-family: Jost;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_frame .header_content p {
  margin-top: 10px;
  color: #fff;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  border: 1px solid #fff;
  background: #fff;

  color: #041e42;
  text-align: center;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.header_frame .container .header_right {
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;

  background: #f2f2f2;
}
.header_frame .header_right .header_box_left {
  margin-left: 37px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .header_box_left span {
  color: #0053f6;

  /* 15 / Regular */
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.header_frame .header_box_left p {
  margin: 10px 0;

  color: #041e42;
  font-family: Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header_frame .header_box_left a {
  color: #041e42;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.header_frame .header_box_left .hover_border {
  width: 32px;
  height: 2px;
  margin-top: 3px;

  background: #041e42;
}

.header_frame .header_box_left .hover_border_bottom {
  width: 100%;
  height: 2px;
  margin-top: 3px;

  background: #041e42;
}

.header_frame .header_box .header_box_right {
  width: 50%;
}

.header_frame .header_box_right img {
  width: 100%;
  height: 100%;
}

/*SERVICE*/
.homepage .service_frame {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;

  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}
.service_frame .container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid #eaeaea;
}
.service_frame .service_box img {
  width: 35px;
  height: 35px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_box .service_content span {
  color: #041e42;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.service_frame .service_box .service_content p {
  color: #626974;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  width: 180px;
}
